<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Cadastrar</title>
        <link rel="stylesheet" href="static/css/login.css">
        <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/cotton/64/000000/doctors-folder.png">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% for message in messages %}
                        {% if message %}
                            {% for msg in messages %}
                                <div class="alert alert-success" role="alert">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
              <form class="register-form" action="#" method="post">
                <input type="text" placeholder="Primeiro Nome" name="first_name"/>
                <input type="text" placeholder="Sobrenome" name="last_name"/>
                <input type="date" placeholder="Data de Nascimento" name="birthday"/>
                <input type="email" placeholder="E-mail" name="email" />
                <input type="password" placeholder="password" name="password"/>
                <textarea name="aditional_infos" placeholder="Informações adicionais de saúde" cols="30" rows="10"></textarea>
                <button id="criarConta">Criar conta</button>
                <p>Já é cadastrado? <a class ="link" href="/login">Acesse aqui!</a></p>
			  </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    </body>
</html>


