<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>       
    <h4>Relatório simples de Saúde e Bem Estar</h4>
    {% if current_user.is_authenticated %}
        <h4>Nome: {{current_user.first_name}} {{current_user.last_name}}</h4>
        <div >
            <table style="align-items: center;">
                <thead>
                    <tr style="align-items: center;">
                        <th>Data</th>
                        <th>Categoria</th>
                        <th>Batimentos Cardíacos</th>
                    </tr>
                </thead>
                <tbody>
                    {%for res in result %}
                            <tr style="align-items: center;">
                                <td style="text-align: center;">{{res.date}}</td>
                                <td style="text-align: center;">{{res.id_category}}</td>
                                <td style="text-align: center;">{{res.data}} (Batimentos Por Minuto)</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <footer> © 2020 copyright by EmergHelp</footer>
</body>

</html>