<!-- Custom CSS -->
<link href="../static/css/style.min.css" rel="stylesheet">
<table class="table user-table" >
    <thead>
        <tr>
            <th class="border-top-0" style="align-items: center;">Data</th>
            <th class="border-top-0" style="align-items: center;">Batimentos Cardíacos</th>
        </tr>
    </thead>
    <tbody id="tabelaBatimentos">
    </tbody>
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
setInterval(function(){
    $.ajax({
        url: '/homeDadosTabela',
        type: 'GET',
        dataType: "json",
        success: function (response) {
            var trHTML = '';
            $.each(response, function (i, item) {
                trHTML += '<tr><td style="align-content: center;">' + item.date + '</td><td style="align-content: center;">' + item.data + '</td></tr>';
            });
            document.getElementById('tabelaBatimentos').innerHTML = trHTML;
            console.log('aqui');
        }
    });
}, 3000);
});
</script>